%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{deps, [
   {xapian, ".*",
    {git, "git://github.com/freeakk/xapian.git", "master"}},
   {csv_parser, ".*",
    {git, "git://github.com/freeakk/csv_parser.git", "master"}},
   {ux, ".*",
    {git, "git://github.com/freeakk/ux.git", "master"}}
]}.
