%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{deps, [
   {xapian, ".*",
    {git, "git://github.com/cytozoon/xapian-erlang-bindings.git", "master"}},
   {csv_parser, ".*",
    {git, "git://github.com/cytozoon/csv_parser.git", "master"}},
   {binary2, ".*",
    {git, "git://github.com/cytozoon/binary2.git", "master"}},
   {ux, ".*",
    {git, "git://github.com/erlang-unicode/ux.git", "master"}}
]}.
